```
# Compiled and build artifacts
*.class
*.o
*.obj
*.so
*.a
*.dll
*.exe
*.out

# Dependencies
.gradle/
build/
target/

# Logs and temp files
*.log
*.tmp
*.swp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Coverage
coverage/
htmlcov/
.coverage

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg-info/
.eggs/

# Java specific
*.jar
*.war
*.ear
hs_err_pid*

# Android specific
*.apk
*.aab
local.properties
.gradle/
.proguard/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Distribution / packaging
.dist/
.egg/
.eggs/
.installed.cfg
.pip-delete-this-directory.txt
.tox/
.coverage*
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.svn/
.hg/

# IDEs
*.swp
*.swo
*~
.project
.classpath
.settings/
.loadpath
.tm_properties
*.sublime-workspace
*.iml
*.ipr
*.iws
.idea/
.vscode/
nbproject/
nbbuild/
nbdist/
nbreleases/
*.nbp
.nb-gradle/
.externalToolBuilders/
.launch
.recommenders
.scala_dependencies
.scalasource
.sbt
.cache
.stFolder
.stversions
.syncid
.syncthing*
.vagrant/
.venv/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.hypothesis/
.coverage*
htmlcov/
.cov/
.coverage
coverage.xml
.nyc_output/
istanbul/
.lcov/
.nyc_output/
.tap/
.tape/
.istanbul.yml
.repl_history
.node_repl_history
.python_history
.rhistory
.sqlite_history
.mysql_history
.pgpass
.idlerc/
.ipython/
.jupyter/
.conda/
.conda-env/
.conda-meta/
.continuum/
.direnv/
.dockerenv
.envrc
.flake8
.gitattributes
.gitconfig
.gitignore
.gitempty
.gitmodules
.gradle/
.gradle-wrapper/
.gradle-wrapper.properties
.gradlew
.gradlew.bat
.hgignore
.hg/
.jscsrc
.jshintignore
.jshintrc
.jslintrc
.kitchen.yml
.kitchen.local.yml
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.ls-lint.json
.maven/
.mvn/
.mvnw
.mvnw.cmd
.ncurc.json
.node-version
.nodemonignore
.now/
.nowignore
.npm/
.npmignore
.npmrc
.nyc_output/
.nycrc
.package-lock.json
.pdbrc
.platform/
.platformio/
.pre-commit-config.yaml
.precomp/
.profile
.pry_history
.pyre/
.pytest_cache/
.python-version
.rakeTasks
.rbenv-gemsets
.rbenv-version
.rubocop.yml
.rubocop_todo.yml
.ruby-gemset
.ruby-version
.rultor.yml
.rupees/
.sass-cache/
.scala_dependencies
.scalasource
.sconsign.dblite
.scrapy
.semaphore/
.serverless/
.shell.pre-oh-my-zsh
.shrc
.slim_lint.yml
.springbeans
.spyderproject
.spyproject
.sqlmap/
.sqlite3
.stestr/
.stickler.yml
.style.yapf
.stylelintignore
.stylelintrc
.stylelintrc.json
.stylelintrc.yaml
.stylelintrc.yml
.stylelintrc.js
.sublime-gulp.cache
.svn/
.swcrc
.swift-version
.svnignore
.symfony/
.system/
.target/
.terraform/
.terraform.lock.hcl
.terraformrc
.testbss.log
.testr.conf
.testsaved.log
.texlipse
.textlintrc
.thumbs
.tm_properties
.tmp/
.tmux.conf
.trash/
.travis.yml
.travis/
.travis/config.yml
.travisci.yml
.travis.yml.default
.travis.yml.disabled
.travis.yml.example
.travis.yml.orig
.travis.yml.sample
.travis.yml.template
.travis.yml~backup
.travis.yml~orig
.travis.yml~temp
.travis.yml~work
.travistest/
.tugboat
.tvnamer-cache/
.tx/
.tx/config
.typescript_cache/
typings/
unimported.json
urlwatch/
vendor/
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/
vim_settings/
vs/
vscode/
webpack.config.js
webpack.config.ts
wercker.yml
windows/
WooCommerce/
wp-admin/
wp-content/
wp-includes/
wp-json/
wp-settings.php
wp-tests-config.php
wp-trackback.php
www/
www-data/
xampp/
yardoc/
yarn-error.log
yarn.lock
yo-rc.json
z/
zeus/
zeus.sock
zsh/
zsh_history
```